.card{
    margin: none;
    max-width: 350px;
    cursor: pointer;
}
.imgContainer{
    overflow: hidden;
}
.imgContainer img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
    transition: .5s;
}
.imgContainer img:hover{
    transform: scale(1.1);
}